* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    width: 100vw;
   
}

/*HEADER*/
header {
    background-color: #000;
    justify-content: space-between;
    display: flex;
    padding: 0 2%;
    align-items: center;
    height: 50px;
    z-index: 1;
    transition: top 0.5s;

}

header a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    justify-self: self-start;
    color: #fff;
    padding: 0;
}

header .desktop ul {
    display: flex;
    list-style: none;
}

header .desktop ul li {
    font-size: 20px;
    margin: 20px;
}

.mobile {
    display: none;
}
header i{
    display: none
}

/*MAIN*/
.fondo {
    background-image: url(../img/main-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px;
    padding: 10%;
    margin-bottom: 0;
    z-index: -1;
}

div .saludo {
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 50%;
    border-radius: 25px;
    margin-top: 8%;
    padding: 3%;

}

div .saludo h2 {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;

}

div .saludo p {
    color: #fff;
    font-size: 1rem;
}

div .saludo i {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

div .saludo i:hover {
    transform: translateY(10px);
    color: #000;
}

/*ARTISTAS */
.skew {
    width: 100%;
    padding: 10% 0;
    transform: skew(0deg, -3deg);
    background-color: #000;
    z-index: -1;
    position: absolute;
    margin-top: -40px;
}

.artistas {
    position: relative;
    z-index: 0;
    padding-bottom: 5%;
    margin-top: -70px;
    background-color: #000;
    margin-bottom: -40px;
}

.artistas h2 {
    color: #fff;
    padding-top: 10%;
    text-align: center;
    font-size: 50px;
}

.artistas .artista {
    display: flex;
}

.artistas .artista img {
    width: 25%;
    margin-left: 2%;
}

.artistas .artista h3 {
    color: #fff;
    font-size: 30px;
    margin-left: 5%;

}

.artistas .artista p {
    color: white;
    margin-left: 5%;
    margin-right: 20%;


}

.artistas .artista-right {
    display: flex;
    text-align: right;
}

.artistas .artista-right img {
    width: 25%;
    margin-right: 2%;
}

.artistas .artista-right h3 {
    color: #fff;
    font-size: 30px;
    margin-right: 5%;
}

.artistas .artista-right p {
    color: white;
    margin-right: 5%;
    margin-left: 20%;
}

.artistas .artista,
.artistas .artista-right {
    margin-bottom: 5%
}

/*NOTICIAS*/
.skew1 {
    width: 100%;
    padding: 5% 0;
    transform: skew(0deg, -3deg);
    background-color: #000;
    z-index: -1;
    position: absolute;
    margin-top: -30px;
}

.title {
    text-align: center;
    font-size: 50px;
    z-index: 1;
    margin-top: 20%;
}

.noticias {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    background-color: #fff;


}


.noticias .noticia {
    width: 20%;
    margin: 3%;
    text-align: center;
}

.noticias .noticia p {
    text-align: justify;
}

.noticias .noticia img {
    width: 100%;
}

.noticias .noticia h3 {
    font-size: 30px;
}

/*CONTACTO */
.skew2 {
    width: 100%;
    padding: 5% 0;
    transform: skew(0deg, -3deg);
    background-color: #000;
    z-index: 0;
    position: absolute;
}

.contacto {
    background-color: #000;
    z-index: 1;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 5%;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 2%;
    margin-top: 5%;
}

.contacto h2 {
    text-align: center;
    font-size: 50px;
}

.contacto p {
    text-align: center;
    margin: auto;
    font-size: 25px;
}

.contacto h4 {
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 5px;
}

.contacto input {
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 25%;
}

.contacto textarea {
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
}

.contacto form button {
    margin-left: 40%;
    width: 20%;
    margin-top: 2%;
    padding: 1% 2%;
    color: white;
    background-color: #000;
    border: 2px solid #fff;
    font-size: 20px;
    border-radius: 25px;
}

/*FOOTER */

footer {
    color: #fff;
    background-color: #000;
    margin-top: 0;
    text-align: center;

}

footer hr {
    padding: 0;
    margin: 0;
    width: 80%;
    margin-left: 10%;
}

footer p {
    padding: 0;
    margin: 0;

}

footer i {
    font-size: 40px;
    margin: 30px;
}

/*IR ARRIBA */

.fa-arrow-circle-up {
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 60px;
    right: 10px;
    transition: 0.5s ease-in-out;
    display: none;

}

@media (max-width: 800px) {
    header h1 {
        font-size: 1.5rem;
    }

    header .desktop ul li {
        font-size: 1rem;
    }

    div .saludo {
        width: 50%;
        padding: 0;
        margin-bottom: 5%;
    }

    .artistas {
        padding-bottom: 0;
    }

    .artistas .artista img,
    .artistas .artista-right img {
        width: 30%;
        height: 30%;
    }

    .artistas .artista h3,
    .artistas .artista-right h3 {
        color: #fff;
        font-size: 2rem;
        margin-left: 5%;

    }

    .artistas .artista p,
    .artistas .artista-right p {
        font-size: 1rem;

    }

    .artistas .artista-right img {
        margin-right: 30px;
    }

    .noticias {
        display: inline-block;
        align-items: center;
        margin: auto;
    }

    .noticias .noticia {
        width: 50%;
        margin: auto;
    }

    .contacto p,
    .contacto h4 {
        font-size: 1rem;
    }

    .contacto form button {
        font-size: 1rem;
    }

    footer i {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .navbar .desktop {
        display: none;
    }

    div .saludo {
        width: 80%;
        padding: 0;
        margin-bottom: 15%;
    }

    .artistas .artista-right {
        display: none;
    }

    .artistas {
        align-items: center;
        margin: 5% auto;
        width: 100%;
        padding-bottom: 10%;
        margin-bottom: -2px;
    }

    .artistas h2 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }

    .artistas .artista {
        display: inline-block;
        align-items: center;
        margin: auto;
        margin-top: 3%;
        padding: 0;
    }

    .artistas .artista img {
        width: 44%;
        height: 44%;
        margin: auto;
        margin-left: 30%;
        margin-bottom: 2%;
    }

    .artistas .artista h3 {
        font-size: 1.5rem;
        margin-bottom: 1%;
        padding: 0;
        margin-left: 4%;
        margin-top: 0;
    }

    .artistas .artista p {
        font-size: 0.8rem;
        text-align: left;
        margin: 0 4%;
    }

    .sepArt {
        width: 75%;
        text-align: center;
        margin: 5% auto;
    }

    .skew1 {
        padding: 10%;
    }

    .title {
        font-size: 2rem;
        text-align: center;

    }

    .noticias .noticia {
        width: 90%;
        margin-bottom: 10%;
    }

    .noticias .noticia img {
        width: 50%;
        height: 50%;
    }

    .noticias .noticia h3 {
        font-size: 1.5rem;
    }

    .noticias .noticia p {
        margin: auto;
        width: 100%;
    }

    .contacto h2 {
        font-size: 2rem;
    }

    .contacto p {
        font-size: 0.8rem;
    }

    .contacto form h4 {
        font-size: 0.8rem;
    }

    .contacto form button {
        font-size: 0.8rem;
        padding: auto;
    }

    footer i {
        font-size: 1.2rem;
    }

    .mobile {
        position: fixed;
        z-index:15;
        display: block;
        right: 0;
        font-size: 1.8rem;
        cursor: pointer;
        padding: 10%;
        padding-right: 2%;
        margin-right: 2%;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 2%;
        transition: 0.5s ease-in-out;
        transform: translate(100%, 0%)

    }

    .mobile ul {
        list-style: none;
        margin-top: 0;
        padding-top: 0;
        text-align: right;
        padding-right: 0;
        margin-right: 0;
        

    }

    .mobile ul li {
        margin-bottom: 30px;
        background-color: rgba(0,0,0,0.5);


    }

    .mobile ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;

    }

    .mobile ul li .renglon {
        color: #fff;
        margin: 0;
        padding: 0;
    }
    

    header .fa-bars {
        color: #fff;
        display: block;
        margin-right: 10px;
        z-index: 10;
        font-size: 1.6rem;
    }
}

@media (min-width: 450px) {
    .artistas .artista-mobile {
        display: none;
    }

    .sepArt {
        display: none;
    }
}